* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  background-color: #000000;
}

.faq-sec {
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.faq-sec h2 {
  text-align: center;
  font-size: 2.7em;
text-shadow: 0 3px 5px yellow;
  margin-bottom: 1em;
  color: #ffffff;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  padding: 1.5vw;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.8s ease;
}

.faq-item:hover {
  background-color: #e0f7fa;
}

.faq-que {
  font-size: 1.6em;
  font-weight: bold;
  color: #004941;
  cursor: pointer;
  padding: 0.5vw 0;
}

.faq-item input[type="checkbox"] {
  display: none;
}

.faq-ans {
  display: none;
  font-size: 1.3em;
  color: #303030;
  padding: 0.5vw 0;
  transition: all 0.3s ease;
}

.faq-item input[type="checkbox"]:checked ~ .faq-ans {
  display: block;
}

.faq-item input[type="checkbox"]:checked ~ .faq-que {
  color: #004d40;
}
